.table{
    border-collapse: collapse;
    border: 1px solid #000000;
}

.table tr:hover{
    background-color: aqua;
}

.table tr td{
    border: 1px solid #000000;
    text-align: center;
}

center{
    position: relative;
}